{
  "ignorePatterns": ["node_modules/*", ".next/*", ".out/*", "build/*"],
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ]
}
